    {% extends 'base.html' %}

    {% load static %}

    {% block content %}

    <section class="conteudo">
        <section class="banner">
            <img class="banner__imagem" src="{% static '/assets/imagens/banner(4).png' %}" alt="banner Alura Space">
            <h1 class="banner__titulo"> Aqui a história nunca acaba!</h1>
        </section>
        <section class="tags">
            <p class="tags__titulo">Busque por tags:</p>
            <ul class="tags__lista">
                <li class="tags__tag">Futebol</li>
                <li class="tags__tag">Basquete</li>
                <!--S<li class="tags__tag">Galáxia</li>-->
                <li class="tags__tag">Outros</li>
            </ul>
        </section>


        <section class="galeria">
            <div class="cards">
                <h2 class="cards__titulo">Veja as notícias recentes</h2>
                <ul class="cards__lista">
                    {% if cards %}
                    {% for noticia in cards %}
                    <li class="card">
                        
                        <span class="card__tag">Leia Mais</span>
                        <div class="card__info">
                            <p class="card__titulo">{{noticia.titulo}}</p>
                            <div class="card__texto">
                                <p class="card__descricao">{{noticia.subtitulo}}</p>
                                <span>
                                    <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                </span>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    {% else %}
                    {% endif %}

    {% endblock %}