    {% extends 'base.html' %}

    {% load static %}

    {% block content %}


        <h1 class="">TESTE de historia</h1>
        <p> <a href="{% url 'index' %}">voltar pra home</a></p>


        <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{noticia.titulo}}</p>
                                <p class="imagem__descricao">{{noticia.subtitutlo}}</p>
                                <p class="imagem__texto">{{noticia.corpo_texto}}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
    {% endblock %}
